NET "outled1" LOC = P51 | IOSTANDARD = LVTTL;
NET "outled2" LOC = P41 | IOSTANDARD = LVTTL;
NET "outled3" LOC = P35 | IOSTANDARD = LVTTL;
NET "outled4" LOC = P33 | IOSTANDARD = LVTTL;
NET "outled5" LOC = P30 | IOSTANDARD = LVTTL;
NET "outled6" LOC = P27 | IOSTANDARD = LVTTL;
NET "outled7" LOC = P24 | IOSTANDARD = LVTTL;
NET "outled8" LOC = P22 | IOSTANDARD = LVTTL;